@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #474646;
    --secondary: #180e0d;
    --accent1: #9d6451;
    --accent2: #e2beab;
    --white: #ffffff;
    --black: #000000;
    --shadow: #0303038e;
    --shading: #03030330;
    --good: #089f3f;
    --poor: #bdb630;
    --bad: #cb2121;
    --heading: 'Roboto', georgia, serif;
    --paragraph: 'Lato', tahoma, sans-serif;
}

/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}*/

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

/* mobile **************************/
header {
    background-color: var(--accent1);
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 1fr;
    border: 1px solid rgba(0, 0, 0, 5);
}

#banner {
    padding: 4px 10px;
    text-align: center;
    background-color: var(--white);
}

#header-logo {
    grid-column: 1/2;
    grid-row: 1/2;
}

h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;
    text-align: center;
    color: var(--white);
}


#social-medias {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 6px 0px;
}

#link-facebook,
#link-twitter {
    display: inline;
    width: 40px;
    height: 40px;
    padding: 4px;
    cursor: pointer;

}

#social-medias img {
    border: 4px solid var(--primary);
    border-radius: 40px;
}

#social-medias img:hover {
    border: 4px solid var(--white);
}

#social-medias img:active {
    border: 4px solid var(--good);
}



/* Navigation */

#hamburger-btn {
    text-align: right;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#nav-button.active {
    background-color: var(--accent1);
}

#nav-current::before {
    display: inline-block;
    margin: 2px 4px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: var(--accent1);
    content: "";
}

nav {
    display: grid;
    grid-column: 1/4;
}


nav li.open {
    display: block;
}

nav ul {
    display: flex;
}

nav ul.open {
    display: flex;
    flex-direction: column;
}

nav li {
    display: flex;

}

nav li:first-child {
    background-color: #000000;
}



nav a:hover {
    background-color: var(--bad);
    color: var(--white);
}


.mapa {
    color: floralwhite;
}

.mapa:hover {
    color: var(--bad);
}


ul {
    list-style: none;
    margin-bottom: 10px;
}

ul :hover {
    background-color: var(--bad);
}





/*#currentYear {
    font-size: 15px;
    margin-right: 15px;
}*/

header,
main {
    max-width: 1300px;
    margin: 0 auto;
}

main {
    max-width: 1300px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;


}

.hero {

    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 400px;
    padding-bottom: 20px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

section {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 20px;

    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 3, 4, 5);
}

section li {
    padding: 5px;
    margin-left: 10px;
}

#hamburger-btn {
    font-size: 1.5rem;
    border: 5px solid #36454f;
    padding: .25rem .75rem;
    background-color: #bbb;
    color: white;

}

#hamburger-btn::before {
    content: "☰";
}

#hamburger-btn.open::before {
    content: "X";
}


nav ul {
    display: none;
    flex-direction: column;
    list-style-type: none;
    background-color: #36454f;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul.open {
    display: flex;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

.visits {
    color: rgb(8, 0, 0);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 10px;
}

#button {
    background-color: rgba(8, 8, 216, 0.651);
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    border: 2px solid rgba(0, 0, 0, 5);
    border-radius: 5px;
    cursor: pointer;
    height: 3rem;
    box-shadow: 0 4px 8px rgba(0, 5, 5, 5);
    transition: background-color 0.30s ease;
    -webkit-transition: background-color 0.30s ease;
    -moz-transition: background-color 0.30s ease;
    -ms-transition: background-color 0.30s ease;
    -o-transition: background-color 0.30s ease;
}


iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 15px 15px 15px 15px;

}

footer {
    background-color: var(--accent1);
    color: #fff;
    padding: 10px;
    max-width: 1300px;
    margin: 0 auto;


}


/*Discover*/

/* CSS Grid layout */


.container {
    display: grid;
    grid-template-columns: 1fr;
    /* Sidebar takes 1/4 and Main content takes 2/3 */
    gap: 20px;
    /* Gap between sidebar and main content */
    margin: 0 auto;
    max-width: 1280px;


}

/* Sidebar styles */
.sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 3, 4, 5);
    color: #000;
}

/* Main content styles */
.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;

}

.main-content img {
    max-width: 100%;
    height: auto;
    animation: fade 15s;
    -webkit-animation: fade 15s;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;

}

.main-content :hover {

    box-shadow: 0 0 50px #333;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#visitMessage,
#managua-activities,
#uni-houses {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 3, 4, 5);
    background-color: #fff;
    padding: 10px;
}

/* Calendar Styles */
.calendar {
    border: 1px solid #0e0d0d71;
    padding: 10px;


}

.calendar h2 {
    margin-top: 0;

}

.calendar table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.calendar th,
.calendar td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.calendar .current-month {
    background-color: #f0f0f0;
    font-weight: bold;
}

/*******JOIN****************/

.join-container {
    padding-bottom: 10px;
    box-shadow: 0px 0px 0px 1px var(--shadow);
    display: grid;
    grid-template-columns: 1fr;

    margin: 0 auto;
    max-width: 1200px;
}

.join-h2 {
    padding: 10px;
    background-color: var(--accent2);
    color: var(--secondary);
}

.join-p {
    padding: 10px 10px 10px 10px;
    margin: 0px 4px 4px 0px;

}


/***************FORM*******************/

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--black);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--black);
}

#memberships-select label {
    display: block;
}

#mem-description {
    width: 100%;
    height: auto;

}

#mem-description p {
    margin: 10px auto;
}

#memberships-select,
#mem-description {
    display: block;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #161616;

}

#submit-b {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    max-width: 600px;
    margin: 0px auto;
    border-radius: 30px;
    font-family: var(--paragraph);
    font-weight: 500;
    font-size: 24px;
    border: none;
    padding: 5px 5px;
    margin-bottom: 10px;
    background-color: var(--bad);
    color: var(--white);
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}


/*** Thanks **/
.thanks-container {
    padding-bottom: 10px;
    box-shadow: 0px 0px 3px 4px var(--shadow);
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px;
    max-width: 1200px;

}

.box-h1 {
    padding: 10px;
    background-color: var(--accent2);
    color: var(--secondary);
}

.box-p {
    padding: 10px 10px 10px 10px;
    margin: 0px 4px 4px 0px;
    font-size: 2cap;
}