@media (min-width: 640px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        flex: 1 1 100%;
        display: block;
    }

    #hamburger-btn {
        display: none;
        /* Hide the mobile menu on larger screens */
    }

    main {
        grid-template-columns: 1fr 1fr;
        /* Two columns on larger screens */

    }

    h1 {
        display: grid;
        grid-column: 1/3;
    }

    .hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .hero img {
        min-width: 460px;
        max-width: 100%;
        margin: 0 auto;
        box-shadow: 0px 2px 5px 0px var(--shadow);
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


}